@charset "utf-8";
/* CSS Document */

body{
	/*background-image:url(../images/bage_bg.jpg);*/
	background-repeat:repeat-x;
	padding:0px;
	margin:0px;
	text-align:justify;
}

a img{
	border:0px;
}

#page_wrap{
	width:1000px;
	margin:0px auto;
	padding:10px 0 0 0;
}

#header{
	width:1000px;
	float:left;
}

#logo{
	padding-top:0px;
	width:105px;
	float:left;
}

#logo_img{
	width:105px;
	float:left;
}

#logo_text{
	margin-top:5px;
	width:105px;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	color:#666666;
	font-size:13px;
	line-height:16px;
	float:left;
	font-style:italic;
	font-weight:bold;
}

#links_wrap{
	float:left;
	width:895px;
}

#renuka_line{
	float:left;
	width:895px;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	color:#656565;
	font-size:11px;
	margin-top:25px;
}

#main_navi{
	float:left;
	width:1000px;
	text-align:right;
	margin-top:0px;
}
#top_links{
	float:left;
	width:895px;
	text-align:right;
}
.topnavi{
	margin:0px;
	padding:0px;
}
#topnavi_wrap{
	float:left;
	width:577px;
	padding-top:3px;
}
.topnavi li{
	list-style-type:none;
	display:inline;
	margin:0px;
	padding:0px;
}

.topnavi li a{
	font-family:Arial, Helvetica, sans-serif;
	color:#ED1B25;
	text-decoration:none;
	font-size:11px;
	line-height:12px;
	border-right:1px solid #D8DCDB;
	padding:0px  10px;
	margin:0px;
	}
	.topnavi li a:hover{
	text-decoration:underline;
	color: #666;
}
.topnavi .top_sel{
	color:#666;
	text-decoration:underline;
}
#navi_wrap{
	float:left;
	width:700px;
	margin-top:5px;
}

a.broucher{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	background-image:url(../images/btn_bg.jpg);
	background-repeat:repeat-x;
	height:25px;
	line-height:25px;
	display:block;
	float:right;
	color:#FFF;
	border:0px;
	padding:0px 10px;
}
#broucher_wrap{
	width:133px;
	float:left;
}
a.broucher:hover{
	color:#ccc;
	text-decoration:none;
}





.main_links{
	margin:0px;
	padding:0px;
}

.main_links ul li{
	list-style-type:none;
	display:inline;
	margin:0px;
	padding:0px;
}

.main_links a{
	
	color:#000;
	text-decoration:none;
	color:#FFF;
	font-family:  "Arial Narrow", Arial, Helvetica, sans-serif;
	font-weight: 600;
	text-align:center;
	font-size:15px;
	line-height:37px;
	}
.main_links a:hover{
	text-decoration:underline;
}
.main_links_sel{
	color:#ED1B25;
}
#main_links li.sfhover {
    background: none repeat scroll 0 0 #FFFFFF;
}
#search_wrap{
	float:right;
	width:185px;
	height:26px;
	font-family:"Courier", monospace:
}

#search_butn{
	height:26px;
	width:27px;
	float:right;
	cursor:pointer;
}

.search{
	height:26px;
	width:27px;
	background-image:url(../images/search_btn.jpg);
	background-repeat:no-repeat;
	border:none;
	cursor:pointer;
}
#search_bar{
	width:158px;
	float:left;
	height:26px;
}

.serch_text{
	float:right;
	width:150px;
	height:22px;
	border:1px solid #999999;
	border-right:none;
	color:#999999;
	font-family: Arial, Helvetica, sans-serif;
}

#content{
	float:left;
	width:1000px;
	margin-top:5px;
}

#footer{
	float:left;
	width:1000px;
	background-image:url(../images/footer_bg.jpg);
	background-repeat:no-repeat;
	padding-top:15px;
	margin:15px 0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#BFBFBF;
	font-size:11px;
}

#rights_data{
	margin-top:6px;
	float:left;
	width:500px;
}

#saberion_data{
	float:left;
	width:500px;
	text-align:right;
}

#sab_logo{
	float:right;
}

#sab_text{
	margin-top:6px;
	width:410px;
	float:left;
}

#content_up{
	float:left;
	width:1000px;
}

#main_img{
	float:left;
	width:1000px;
	height:304px;
	background-image:url(../images/img6.jpg);
	background-repeat:no-repeat;
}
#img_thmb{
	float:left;
	width:1000px;
	background-color:#D2D2D2;
	padding:0px 0px 0px 1px;
	color:#FFF;
	font-family:'areena';
	text-align:center;
	font-size:15px;
	line-height:37px;
}

#img_thmb div{
	float:left;
	margin-right:1px;
	display:block;
	background-repeat:repeat-x;
	cursor:pointer;
}

.btm1{
	background-image:url(../images/btmbg1.jpg);
	width:198px;
}
.btm2{
	background-image:url(../images/btmbg2.jpg);
	width:198px;
}
.btm3{
	background-image:url(../images/btmbg3.jpg);
	width:200px;
}
.btm4{
	background-image:url(../images/btmbg4.jpg);
	width:199px;
}
.btm5{
	background-image:url(../images/btmbg5.jpg);
	width:199px;
}

#content_data{
	float:left;
	width:1000px;
	margin-top:15px;
}



#content_left{
	float:left;
	width:484px;
	padding-right:15px;
	border-right:1px solid #DFE1E1;
}

#content_right{
	float:left;
	width:485px;
	padding-left:15px;
	
}
.text{
	color:#656565;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:20px;
}
.text_globle{
	color:#656565;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 18px;
	text-align:justify;
}
.text1{
	color:#BFBFBF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:20px;
}
.text2{
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:20px;
}
.headin1{
	color:#CC9900;
	font-family: "Arial Narrow", Arial;
	font-size:18px;
	line-height:20px;
	font-weight: bold;
	
}
.headin2{
	color:#8C8C8C;
	font-family: "Arial Narrow", Arial;
	font-size:16px;
	line-height:20px;
}
.headin3{
	color:#666;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight: bold;
	display:block;
	padding:0 0 5px 0;
}
.red_big{
	color:#990000;
	font-size:18px;
	line-height:20px;
}
.red_areena{
	font-family: Tahoma, Geneva, sans-serif;
	color:#990000;
	font-size:13px;
}
.inner_list{
	color:#656565;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:16px;
	padding-left:10px;
	margin-top:10px;
	list-style-image:url(../images/list_blt.jpg);
}
.inner_list li{
	padding:5px 0px;
}
.link{
	color:#EC1A25;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:16px;
	text-decoration:none;
}

.link:hover{
	text-decoration:underline;
}


.renuka_text{
	text-decoration:none;
	color:#009391;
}

.renuka_text:hover{
	text-decoration:underline;
}


#media_tab{
	width:484px;
	float:left;
	margin-top:18px;
	padding-bottom:18px;
}

#media_tab img{
	margin-left:7px;
}

#content_down{
	float:left;
	width:1000px;
	margin-top:15px;
}

#image_line{
	width:1000px;
	float:left;
	margin:15px 0px;
	text-align:left;
}

#image_line img{
	padding:0px;
	margin:0px 10px;
}

#brand_link{
	width:1000px;
	float:left;
	text-align:right;
}

@font-face {
	font-family: 'areena';
	src: url('../fonts/areena.eot');
	src: local('☺'), url('../fonts/areena.woff') format('woff'), url('../fonts/areena.ttf') format('truetype'), url('../fonts/areena.svg') format('svg');
}
#left_navi_box{
	float:left;
	width:200px;
	padding: 13px 20px 0 0;
}
#left_navi_box ul{
	float:left;
	width:200px;
	padding: 0px 0px 0 0;
}
#left_navi_box li{
	float:left;
	width:200px;
	padding: 6px 0px;
	list-style-type:none;
	border-bottom: 1px dotted #CCC;
	height:20px;
}
#common_box{
	float:left;
	width:100%;
}
a.left_links{
	font-family: Arial, Helvetica, sans-serif;
	color:#EC1A25;
	text-decoration:none;
	font-size:12px;
	font-weight: normal;
	}
a.left_links:hover{
	color:#999;
	font-weight: bold;
	display:block;
	background: url(../images/arrow.jpg) right center no-repeat;
}
.left_links_sel{
	font-family: Arial, Helvetica, sans-serif;
	color:#999;
	font-weight: bold;
	text-decoration:none;
	font-size:12px;
	display:block;
	background: url(../images/arrow.jpg) right center no-repeat;
	}
	
#img_box{
		width:780px;
		float:left;
	}
#product_box{
	width:228px;
	height:175px;
	padding:5px;
	float:left;
	background:#F2F2F2;
	color:#EB1925;
	margin:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(resources/styles/border-radius.htc);
}

#product_box:hover{
	/*background:#ED1B25;
	color:#FFF;*/
	
}
a.product_links{
	font-family: Arial, Helvetica, sans-serif;
	color:#EB1925;
	text-decoration:none;
	font-size:12px;
	font-weight: normal;
	}
a.product_links:hover{
	color:#FFF;
}
#news_box ul {
	padding:0; margin:0 0 0 15px;
	list-style: circle #900;
	}
#news_box li{
	padding:0; margin:0;
	list-style: url(../images/list_blt.jpg) ;
	}
a.news_links{
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	text-decoration:none;
	font-size:12px;
	font-weight: normal;
	}
a.rnews_links:hover{
	color:#EB1925;
}
